In [61]:
import pandas as pd

In [62]:
df=pd.read_csv('/content/drive/MyDrive/Datasets/fake-news/train.csv')

In [63]:
df.head()

   id  ... label
0   0  ...     1
1   1  ...     0
2   2  ...     1
3   3  ...     1
4   4  ...     1

[5 rows x 5 columns]

In [64]:
df.shape

(20800, 5)

In [65]:
import nltk

In [66]:
df=df.dropna()

In [67]:
df.head(10)

    id  ... label
0    0  ...     1
1    1  ...     0
2    2  ...     1
3    3  ...     1
4    4  ...     1
5    5  ...     0
7    7  ...     0
9    9  ...     0
10  10  ...     0
11  11  ...     0

[10 rows x 5 columns]

In [68]:
df.reset_index(inplace=True)

In [69]:
df.head(10)

   index  id  ...                                               text label
0      0   0  ...  House Dem Aide: We Didn’t Even See Comey’s Let...     1
1      1   1  ...  Ever get the feeling your life circles the rou...     0
2      2   2  ...  Why the Truth Might Get You Fired October 29, ...     1
3      3   3  ...  Videos 15 Civilians Killed In Single US Airstr...     1
4      4   4  ...  Print \nAn Iranian woman has been sentenced to...     1
5      5   5  ...  In these trying times, Jackie Mason is the Voi...     0
6      7   7  ...  PARIS  —   France chose an idealistic, traditi...     0
7      9   9  ...  A week before Michael T. Flynn resigned as nat...     0
8     10  10  ...  Organizing for Action, the activist group that...     0
9     11  11  ...  The BBC produced spoof on the “Real Housewives...     0

[10 rows x 6 columns]

In [70]:
X=df.drop('label',axis=1)

In [71]:
y=df['label']

In [72]:
y.head()

0    1
1    0
2    1
3    1
4    1
Name: label, dtype: int64

In [ ]:
corpus=[]
alpha_corpus=[]
for i in range(len(X)):
   corpus.append(''.join([word.lower() for word in X['title'][i]]))
for i in range(len(X)):
   alpha_corpus.append(' '.join([word for word in corpus[i].split() if word.isalpha()]))
alpha_corpus[:5]

['house dem we even see letter until jason chaffetz tweeted it',
 'hillary big woman on campus breitbart',
 'why the truth might get you fired',
 'civilians killed in single us airstrike have been identified',
 'iranian woman jailed for fictional unpublished story about woman stoned to death for adultery']

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
removed_stop=[]
from nltk.corpus import stopwords
for i in range(len(alpha_corpus)):
   removed_stop.append(' '.join([word for word in alpha_corpus[i].split() if word not in stopwords.words('english')]))
removed_stop[:5]

['house dem even see letter jason chaffetz tweeted',
 'hillary big woman campus breitbart',
 'truth might get fired',
 'civilians killed single us airstrike identified',
 'iranian woman jailed fictional unpublished story woman stoned death adultery']

In [ ]:
Stemed_corpus=[]
from nltk.stem import PorterStemmer
ps=PorterStemmer()
for i in range(len(removed_stop)):
  Stemed_corpus.append(' '.join([ps.stem(word) for word in removed_stop[i].split()]))
Stemed_corpus[:5]

['hous dem even see letter jason chaffetz tweet',
 'hillari big woman campu breitbart',
 'truth might get fire',
 'civilian kill singl us airstrik identifi',
 'iranian woman jail fiction unpublish stori woman stone death adulteri']

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=6000,ngram_range=(1,3))
X=cv.fit_transform(Stemed_corpus).toarray()

In [ ]:
X.shape

(18285, 6000)

In [ ]:
y.shape

(18285,)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.30)

In [ ]:
X_train.shape

(12799, 6000)

In [ ]:
cv.get_feature_names()

In [ ]:
import pandas as pd
count_df=pd.DataFrame(X_train,columns=cv.get_feature_names())
count_df.head()

   aaron  abandon  abba  abc  abduct  ...  zone new york  zu  zuckerberg  на  не
0      0        0     0    0       0  ...              0   0           0   0   0
1      0        0     0    0       0  ...              0   0           0   0   0
2      0        0     0    0       0  ...              0   0           0   0   0
3      0        0     0    0       0  ...              0   0           0   0   0
4      0        0     0    0       0  ...              0   0           0   0   0

[5 rows x 6000 columns]

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
pred=rf.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score
confusion_matrix(pred,Y_test)

array([[2857,   84],
       [ 323, 2222]])

In [ ]:
score=accuracy_score(pred,Y_test)
score

0.9258111556689755